<!DOCTYPE html>
<html lang="en">
<head>
    <meta name= "author" content="github.com/isabzw">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentario -->
     <marquee bgColor="blue" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perferendis quasi adipisci autem nam vitae temporibus ut reprehenderit cum sit deserunt possimus error consectetur non, qui esse. Saepe, fugit sequi?</marquee>
     <marquee bgColor="yellow" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt asperiores quas, commodi natus enim non animi quaerat. Eos consequuntur reiciendis voluptatibus maiores libero nisi totam, possimus et accusamus nam quibusdam?</marquee>
     <marquee bgColor="red" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci veritatis unde modi molestias atque reiciendis soluta nostrum obcaecati quisquam eos animi ipsam reprehenderit quas porro officiis, fuga sint nam.</marquee>
     <marquee bgColor="green" direction="right">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, ratione doloribus voluptates sint dicta voluptatibus sequi officiis ullam praesentium autem eligendi repudiandae consectetur modi corporis odit esse aliquam reprehenderit similique!/marquee> 
</body>
</html>